
.nav-item{
    float: left ;
    padding: 15px;

}
ul{
    background-color:rgb(0, 0, 8);
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-size:20px;
    overflow: hidden;
}
.nav-item.hover{
    background-color: cadetblue;

}
body{
    background-image:url("image/Freelancer\ Portfolio\ Hero.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-attachment: fixed;
    background-color: rgb(3, 3, 3);
    

}
.nm1{
    background-color: black;
    color: honeydew;
    font: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}
